{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Update Appointment{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'referral:patient_detail' pk=patient.id %}">patient</a></li> 
  <li class="breadcrumb-item">appointment</li>
  <li class="breadcrumb-item active">update</li> 
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h4>Update Appointment for {{ patient.name|title }}:</h4>
            <form method="post">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field|append_attr:"class:form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field|append_attr:"class:form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field|append_attr:"class:form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="form-group">
              <button type="submit" class="btn btn-success">
                <i class="fa fa-check-square-o" aria-hidden="true"></i> Save
              </button>
            </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block custom_script %}
    {% include "../tempus_dominus.html" %}
    <script type="text/javascript">
        $(function() {
            var format = 'YYYY-MM-DD HH:mm:ss';
            var firstAttemptValue = $('#id_first_attempt').val()
            var secondAttemptValue = $('#id_second_attempt').val()
            var thirdAttemptValue = $('#id_third_attempt').val()
            var appointmentDateValue = $('#id_appointment_date').val()

            $('#id_first_attempt').datetimepicker({format: format, date: null});
            $('#id_first_attempt').datetimepicker('date', moment(firstAttemptValue, format).toDate());

            $('#id_second_attempt').datetimepicker({format: format, date: null});
            $('#id_second_attempt').datetimepicker('date', moment(secondAttemptValue, format).toDate());

            $('#id_third_attempt').datetimepicker({format: format, date: null});
            $('#id_third_attempt').datetimepicker('date', moment(thirdAttemptValue, format).toDate());

            $('#id_appointment_date').datetimepicker({format: format, date: null});
            $('#id_appointment_date').datetimepicker('date', moment(appointmentDateValue, format).toDate());
         });
    </script>
{% endblock custom_script %}