{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Create Patient{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'referral:view_patients' %}">patients</a></li> 
  <li class="breadcrumb-item active">create</li> 
{% endblock breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <form method="post" action="">
          <!-- {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %} -->

        {% csrf_token %}
        
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        
        {% for field in form.visible_fields %}
          <div class="form-group">
            {% with data_target='#'|add:field.id_for_label %}
            {{ field.label_tag }}
          
            {% if form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid datetimepicker-input" data-toggle="datetimepicker" data-target=data_target autocomplete="off" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid datetimepicker-input" data-toggle="datetimepicker" data-target=data_target autocomplete="off" %}
              {% endif %}
            {% else %}
              {% render_field field class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target=data_target autocomplete="off" %}
            {% endif %}
          
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% endwith %}
          </div>
        {% endfor %}

          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Save" />
          </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block custom_script %}
  {% include "../tempus_dominus.html" %}
  <script type="text/javascript">
    $(function () {
      var format = 'YYYY-MM-DD';
      var dobValue = $('#id_dob').val()
      
      $('#id_dob').datetimepicker({ format: format, date: null });
      $('#id_dob').datetimepicker('date', moment(dobValue, format).toDate());
    });
  </script>
{% endblock custom_script %}