{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Onboard - Setup Your Practice Account{% endblock %}

{% block body %}
  <div class="container"> 
    <div class="card">
      <div class="card-header">
        <div class="progress card-text">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Almost done! you need to setup your practice</h5>
        <h6 class="card-subtitle mb-2 text-muted">Create your practice by filling the details below:</h6>
        

        <form method="post">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
{% endblock body %}
