{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Update Patient{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'referral:patient_detail' pk=patient.id %}">patient</a></li>
    <li class="breadcrumb-item active">update</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Update details for {{ patient.name|title }}:</h4>
        <form method="post" novalidate>
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field|append_attr:"class:form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field|append_attr:"class:form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field|append_attr:"class:form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block custom_script %}
{% include "../tempus_dominus.html" %}
<script type="text/javascript">
    $(function () {
        var format = 'YYYY-MM-DD';
        var dobValue = $('#id_dob').val()

        $('#id_dob').datetimepicker({ format: format, date: null });
        $('#id_dob').datetimepicker('date', moment(dobValue, format).toDate());
    });
</script>
{% endblock custom_script %}