{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}
{% block body %}
<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Password Reset Form</div>
    <div class="card-body">
      <form method="post" action=".">
        {% csrf_token %} 
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}

        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
